In [25]:
import geopandas as gpd
from pathlib import Path
import os
import numpy as np

# ---- paths
data_e = 'D:/Work/Github_Morphotopes/data/enclosures/'
data_t = 'D:/Work/Github_Morphotopes/data/tessellations/'
output = 'D:/Work/Github_Morphotopes/data/'

In [26]:
# ---- read
enc = gpd.read_parquet(data_e + "enclosure_0.parquet")
tess= gpd.read_parquet(data_t + "tessellation_0.parquet")

In [27]:
# ---- sanity: ensure CRS is set (adjust EPSG if needed)
print("enc CRS:", enc.crs, " | tess CRS:", tess.crs)
if enc.crs is None:
    # Most Dortmund data uses UTM 32N (ETRS89=EPSG:25832 or WGS84=EPSG:32632).
    # Pick the one your data actually uses:
    enc = enc.set_crs(25832)      # change to 32632 if that's correct for you
if tess.crs is None:
    tess = tess.set_crs(enc.crs)

enc CRS: None  | tess CRS: {"$schema": "https://proj.org/schemas/v0.7/projjson.schema.json", "type": "ProjectedCRS", "name": "ETRS89 / UTM zone 32N", "base_crs": {"type": "GeographicCRS", "name": "ETRS89", "datum_ensemble": {"name": "European Terrestrial Reference System 1989 ensemble", "members": [{"name": "European Terrestrial Reference Frame 1989"}, {"name": "European Terrestrial Reference Frame 1990"}, {"name": "European Terrestrial Reference Frame 1991"}, {"name": "European Terrestrial Reference Frame 1992"}, {"name": "European Terrestrial Reference Frame 1993"}, {"name": "European Terrestrial Reference Frame 1994"}, {"name": "European Terrestrial Reference Frame 1996"}, {"name": "European Terrestrial Reference Frame 1997"}, {"name": "European Terrestrial Reference Frame 2000"}, {"name": "European Terrestrial Reference Frame 2005"}, {"name": "European Terrestrial Reference Frame 2014"}, {"name": "European Terrestrial Reference Frame 2020"}], "ellipsoid": {"name": "GRS 1980", "semi_major_axis": 6378137, "inverse_flattening": 298.257222101}, "accuracy": "0.1", "id": {"authority": "EPSG", "code": 6258}}, "coordinate_system": {"subtype": "ellipsoidal", "axis": [{"name": "Geodetic latitude", "abbreviation": "Lat", "direction": "north", "unit": "degree"}, {"name": "Geodetic longitude", "abbreviation": "Lon", "direction": "east", "unit": "degree"}]}, "id": {"authority": "EPSG", "code": 4258}}, "conversion": {"name": "UTM zone 32N", "method": {"name": "Transverse Mercator", "id": {"authority": "EPSG", "code": 9807}}, "parameters": [{"name": "Latitude of natural origin", "value": 0, "unit": "degree", "id": {"authority": "EPSG", "code": 8801}}, {"name": "Longitude of natural origin", "value": 9, "unit": "degree", "id": {"authority": "EPSG", "code": 8802}}, {"name": "Scale factor at natural origin", "value": 0.9996, "unit": "unity", "id": {"authority": "EPSG", "code": 8805}}, {"name": "False easting", "value": 500000, "unit": "metre", "id": {"authority": "EPSG", "code": 8806}}, {"name": "False northing", "value": 0, "unit": "metre", "id": {"authority": "EPSG", "code": 8807}}]}, "coordinate_system": {"subtype": "Cartesian", "axis": [{"name": "Easting", "abbreviation": "E", "direction": "east", "unit": "metre"}, {"name": "Northing", "abbreviation": "N", "direction": "north", "unit": "metre"}]}, "usages": [{"scope": "Engineering survey, topographic mapping.", "area": "Europe between 6\u00b0E and 12\u00b0E: Austria; Denmark - onshore and offshore; Germany - onshore and offshore; Italy - onshore and offshore; Norway including Svalbard - onshore and offshore; Spain - offshore.", "bbox": {"south_latitude": 36.53, "west_longitude": 6, "north_latitude": 84.01, "east_longitude": 12.01}}, {"scope": "Pan-European conformal mapping at scales larger than 1:500,000.", "area": "Europe between 6\u00b0E and 12\u00b0E and approximately 36\u00b030'N to 84\u00b0N.", "bbox": {"south_latitude": 36.53, "west_longitude": 6, "north_latitude": 84.01, "east_longitude": 12.01}}], "id": {"authority": "EPSG", "code": 25832}}

In [28]:
# (optional) add IDs / make geometries valid (helps QGIS)
enc  = enc.copy()
tess = tess.copy()
enc["eid"]   = enc.index
tess["tid"]  = tess.index
# If you have Shapely 2.x, uncomment:
# enc["geometry"]  = enc.geometry.make_valid()
# tess["geometry"] = tess.geometry.make_valid()

In [29]:
for col in ['eID', 'eid', 'id', 'ID']:
    if col in enc.columns:
        enc = enc.drop(columns=[col])

# add a clean integer id
enc.insert(0, 'eid', np.arange(len(enc), dtype='int64'))

In [30]:
tess

      enclosure_index                                           geometry   tid
0                 912  POLYGON ((393644.116 5709012.34, 393642.602 57...     0
1                 912  POLYGON ((393446.731 5708355.293, 393443.437 5...     1
2                 912  POLYGON ((393537.27 5708304.539, 393539.352 57...     2
3                 912  POLYGON ((393486.076 5708449.477, 393486.342 5...     3
4                 912  POLYGON ((393825.006 5708294.93, 393823.479 57...     4
...               ...                                                ...   ...
1161              912  POLYGON ((393693.606 5708275.683, 393691.919 5...  1161
1162              912  POLYGON ((393713.467 5708314.591, 393713.213 5...  1162
1163              912  POLYGON ((393707.087 5708316.159, 393707.096 5...  1163
1164              912  POLYGON ((393715.496 5708322.875, 393715.604 5...  1164
1165              912  POLYGON ((393707.096 5708316.168, 393707.087 5...  1165

[1166 rows x 3 columns]

In [31]:
# ---- write both layers into one GPKG
# Save as a single GeoPackage
output_path1 = os.path.join(output, "enclosure_0.gpkg")
enc.to_file(output_path1, driver="GPKG")

output_path2 = os.path.join(output, "tessellation_0.gpkg")
tess.to_file(output_path2, driver="GPKG")

In [32]:
enc

     eid                                           geometry
912    0  POLYGON ((393274.591 5707882.722, 393273.517 5...